body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: #f4f4f4;
}

h1 {
    position: fixed; /* Fixed position */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    background-color: #fff; /* Background color, can be adjusted */
    text-align: center; /* Center the text */
    margin-top: 0; /* Remove default margin */
    padding: 10px 0; /* Add some padding */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: adds a shadow for better separation */
}

p {
    font-size: 1.75em; /* Adjust the value as needed */
   }

button {
    margin: 20px auto; /* Center the button */
    padding: 10px 15px;
    font-size: 1.25em;
    background-color: #37647D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box; /* Include padding and border in the width and height */
    display: block; /* To enable margin auto for centering */
}

#nextCategory {
    background-color: #7D373A;
    font-size: 1em;
}

button:hover {
    background-color: #37647D;
}

/*#displayChore {
    margin-top: 20px;
}*/

/* ... other styles ... */

#loginContainer {
    text-align: center;
    margin-top: 20%;
}

#passwordInput {
    padding: 10px;
    margin-right: 10px;
}

/* ... other styles ... */

#displayChore img {
    max-width: 300px;
    height: auto;
    margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 600px) {
    body {
        padding: 15px;
    }

    button {
        width: 90%; /* Adjust the width to be less than 100% */
        padding: 15px;
        font-size: 1.2em;
    }
}